<!-- index.pug -->

doctype html
html(lang="en")
  head
    title= 'Raccoon Facts!'
  body
    h1 #{raccoonFact}
    p API version: #{apiVersion}
    a(href='//versioned-api.onrender.com/v0/fact/') Made with love and the Raccoon Facts API